
.resellNFT{
    width: 100%;
    margin-block: 4rem;
}

.resellNFT_box{
    width: 60%;
    margin: 0 auto;
}

.resellNFT_box h1{
    font-size: 3rem;
}

.resellNFT_box_image{
    margin-block: 4rem;
}